.DS_Store
.flaskenv
*.pyc
*.pyo
.idea/
.venv/
.build/
.tox/
.cache/
.pytest_cache/
__pycache__/
testdata/
env/
env*
dist/
build/
node_modules/
*.egg
*.egg-info/
*~
tmp
*.exe
.*.swp

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# For current project.
poetry.lock
test*.py
.env.dev
